VITE_API_URL=https://interpshield-backend.onrender.com
VITE_SOCKET_URL=https://interpshield-backend.onrender.com
VITE_WS_URL=wss://interpshield-backend.onrender.com
VITE_CLIENT_URL=https://interp-shield-backend-frontend-fron.vercel.app
VITE_GOOGLE_CLIENT_ID=
VITE_AUDIO_DEBUG=false
VITE_SOCKET_DEBUG=false
VITE_TRANSLATION_DEBUG=false
VITE_ENV_DEBUG=false
