OPENAI_API_KEY=your_openai_key
GEMINI_API_KEY=your_gemini_key
DEEPGRAM_API_KEY=your_deepgram_key
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/interpshield
JWT_SECRET=
CLIENT_URL=https://interpshield.vercel.app
